// @import '../node_modules/bulma/sass/elements/container.sass';

.container {
  padding: 0 15px;
}

body {
  background-color: #F7F4F0;
  margin: 0;
  padding: 0;
}

/*************
Font
*************/
@font-face {
  font-family: 'helvetica-medium';
  src: url('~assets/HelveticaMedium.ttf') format('ttf');
}

@font-face {
  font-family: 'helvetica-thin';
  src: url('~assets/HelveticaThin.ttf') format('ttf');
}

/*************
Keyframes
*************/
@keyframes fadeIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

/**********
Variables
**********/
$mainBlack: #262626;
$mainGrey: #A4A4A4;
$mainLightBg: #F7F4F0; 
$mainGrey: #A4A4A4;
$secondaryLight: #FFFCF9;
$secondaryGrey: #DCDCDC;
$mainYellow: #F1FF4A;